{% extends 'base.html' %}

{% load static %}
{% load my_filter %}

{% block css_additional %}
    <link rel="stylesheet" href=" {% static 'horoscope/css/info.css' %}"> 
{% endblock %}

{% block title %} 
    Гороскоп для {{ sign | capfirst }}
{% endblock %}

{% block content %}

    <!-- "include 'includes/navbar.html' only" - Denied to see global variables -->
    {% include 'includes/navbar.html'%}
    <!-- Use self filter blog\horoscope\templatetags\my_filter.py "split"-->
    <h1>{{description|split|first}}</h1>
    {% if description is None %}
        <h2>Вы ввели несуществующий знак - {{ sign | upper }}</h2>
    {% else %}
        <h2>{{ description|capfirst|safe }}</h2>
    {% endif %}

{% endblock %}