{% load my_filter %}

<nav>
    <a href="{% url 'horoscope-index' %}">Главная</a>
    <a href="https://www.homeenglish.ru/OtherGoroscop.htm">Источник</a>
    {% for zodiac, description_zodiac in zodiacs.items %}
    <a href="{% url 'horoscope-name' sign_zodiac=zodiac %}">{{ description_zodiac |split|first|title }}</a>
    {% endfor %}
</nav>

<!-- for horoscope\templates\horoscope\info_zodiac.html - Denied to see global variables -->
<!-- <p>Переменная sign = {{sign}}</p>
<p>Переменная description = {{description}}</p>
<p>Переменная zodiacs = {{zodiacs}}</p> -->